* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black-cover {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black 60%),
    url("./unread-image/numur-cover.jpeg");
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
}
nav {
  width: 90%;
  align-items: baseline;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
}
nav img {
  color: white;
}
.head-menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.head-menu-1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.line {
  height: 20px;
  border-right: 1px solid white;
}

.head-menu-1 button {
  height: 30px;
  color: white;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 10px;
  opacity: 0.5;
  border: none;
}
.head-menu-2 {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: baseline;
  gap: 15px;
}
.head-menu-2 p {
  opacity: 0.5;
}
.head-menu-2 div {
  height: 41px;
  border-radius: 20px;
  background-color: rgb(142, 166, 187);
  opacity: 0.5;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head-icons {
  display: flex;
  gap: 20px;
  opacity: 0.5;
}
.hero {
  display: flex;
}
.hero > img {
  border-radius: 25px;
  transition: transform 0.2s;
}
.hero > img:hover {
  transform: scale(1.1);
  outline: solid 2px transparent;
}
.hero-text {
  color: white;
  padding: 45px 0 0 61px;
}
.hero-text-1 h5 {
  font-size: 10px;
  margin-bottom: 22px;
  color: blue;
}
.hero-text-1 h1 {
  font-size: 36px;
}

.hero-text-1 h2 {
  font-size: 36px;
  margin-bottom: 54px;
}
.hero-text-2 {
  display: flex;
  gap: 20px;
}
.hero-text-2 img {
  width: 44px;
  height: 44px;
  padding: auto;
  border-radius: 25px;
}
.fb a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
.top {
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.container-redakts {
  width: 90%;
  height: 535px;
  margin-top: -200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.card-container {
  /* width: 90%; */
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  margin: auto;
  padding: 20px;
}

.cardItem {
  width: 20%;
  padding: 20px;
}

.card {
  width: 283px;
  height: 418px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.2);
  outline: solid 2px transparent;
}

.card1 {
  background-image: url(./unread-image/card1.jpeg);
}
.card2 {
  background-image: url(./unread-image/card2.png);
}
.card3 {
  background-image: url(./unread-image/card3.jpeg);
}
.card4 {
  background-image: url(./unread-image/card4.png);
}
.card5 {
  background-image: url(./unread-image/card5.jpeg);
}
.card6 {
  background-image: url(./unread-image/card6.png);
}
.card7 {
  background-image: url(./unread-image/card7.png);
}
